// ============================================
// Typographie
// ============================================

@use '../abstracts/variables' as *;

:root {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $line-height-tight;
  font-weight: $font-weight-medium;
}

h1 {
  font-size: $font-size-4xl;
  line-height: $line-height-tight;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

h5 {
  font-size: $font-size-lg;
}

h6 {
  font-size: $font-size-base;
}

p {
  margin: 0;
}

a {
  font-weight: $font-weight-medium;
  color: $color-primary;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-hover;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
